*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    
}

body{
    background: rgb(171, 185, 199);
}

.search-container{
    padding-top: 25px;
    padding-left: 5px;
    
}

.top-heading{
    margin: 0px;
    padding: 1px;
    text-align: center;
    color: beige;
    font-size: 15px;
    background: rgb(56,60,186);
    background: linear-gradient(270deg, rgba(56,60,186,0.5358974358974359) 20%, rgba(47,67,140,1) 100%);
    
}

.form-control{
    padding: 5px 20px;
}

#search-btn{
    background-color: rgb(124, 136, 227);
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 5px 70px;
}


.currentWeather{

    border-style: solid;
    border-color: rgb(48, 47, 48);
    box-sizing: border-box;
    margin-left: 260px;
    margin-top: -260px;
    margin-right: 220px;
    padding-bottom: 30px;
    padding-top: 20px;
    
}

.pl-2{
    
    padding:5px 30px;
}

.cityName{
    padding:5px 30px;
    display: grid;
    
}

.fiveDay{
    margin-top: 5px;
    margin-left: 220px;
    padding-top: 35px;
    padding-left: 40px;
       
}

.fiveDay h3{
    padding-bottom: 10px;
}

.card-body{
    border: none;  
    float: left;
    background: linear-gradient(to bottom right, #b1b1c2 0%, #ffffff 100%);
    
    color: rgb(87, 85, 85);
    margin-right: 2%;
    padding:30px;
    border-radius: 1rem;
    
}



#historybtn{
    background-color: rgb(63, 62, 62);
    color: rgb(237, 234, 234);
    border: none;
    border-radius: 0.2rem;
    padding: 5px;
    text-align: left;
    
}

#history-container{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top:20px;
    

}