*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    
}

body{
    background: rgb(171, 185, 199);
}
.outer-container{
    width: 25%;
}
.search-container{
    margin: 25px;
    
}

.top-heading{
    margin: 0px;
    padding: 1px;
    text-align: center;
    color: beige;
    font-size: 15px;
    background: rgb(56,60,186);
    background: linear-gradient(270deg, rgba(56,60,186,0.5358974358974359) 20%, rgba(47,67,140,1) 100%);
    
}


#search-btn{
    background-color: rgb(124, 136, 227);
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 10px;
    
}

.container{
    


}

.currentWeather{
    border-style: solid;
    border-color: rgb(48, 47, 48);
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: -100px;
  
}

.pl-2{  
    padding:5px 30px;
}

.cityName{
    padding:5px 30px;
    display: flex;
    
}

.fiveDay{
    width: 100%;   
    margin-top: 40px;
}

.fiveDay h3{
    padding-bottom: 10px;
}

.card-body{
    border: none;  
    float: left;
    background: linear-gradient(to bottom right, #b1b1c2 0%, #ffffff 100%); 
    color: rgb(87, 85, 85);
    margin-right: 2%;
    padding:30px;
    border-radius: 1rem;
    text-align: left;
    
}
.card-body h4{
    font-size: medium;
}


#historybtn{
    background-color: rgb(136, 139, 168);
    color: rgb(237, 234, 234);
    border: none;
    border-radius: 0.2rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 8px;
}

#history-container{

    display: flex;
    flex-direction: column;

    margin-left: 20px;
    

}

.inner-container{
    width: 75%;
    margin-left: 50%;
    
}

